AnalyticsApp/Service References/Visits/VisitsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VisitsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:37491/Services/Visitors/VisitsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:37491/Services/Visitors/VisitsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVisitsService_SaveVisit_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveVisit" />
  </wsdl:message>
  <wsdl:message name="IVisitsService_SaveVisit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveVisitResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitsService_GetAllVisits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisits" />
  </wsdl:message>
  <wsdl:message name="IVisitsService_GetAllVisits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisitsResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitsService_GetPageVisits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPageVisits" />
  </wsdl:message>
  <wsdl:message name="IVisitsService_GetPageVisits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPageVisitsResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitsService_GetPageVisitsByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPageVisitsByDate" />
  </wsdl:message>
  <wsdl:message name="IVisitsService_GetPageVisitsByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPageVisitsByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitsService_GetPageVisitsByWeek_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPageVisitsByWeek" />
  </wsdl:message>
  <wsdl:message name="IVisitsService_GetPageVisitsByWeek_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPageVisitsByWeekResponse" />
  </wsdl:message>
  <wsdl:portType name="IVisitsService">
    <wsdl:operation name="SaveVisit">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitsService/SaveVisit" message="tns:IVisitsService_SaveVisit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitsService/SaveVisitResponse" message="tns:IVisitsService_SaveVisit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVisits">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitsService/GetAllVisits" message="tns:IVisitsService_GetAllVisits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitsService/GetAllVisitsResponse" message="tns:IVisitsService_GetAllVisits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPageVisits">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitsService/GetPageVisits" message="tns:IVisitsService_GetPageVisits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitsService/GetPageVisitsResponse" message="tns:IVisitsService_GetPageVisits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPageVisitsByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitsService/GetPageVisitsByDate" message="tns:IVisitsService_GetPageVisitsByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitsService/GetPageVisitsByDateResponse" message="tns:IVisitsService_GetPageVisitsByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPageVisitsByWeek">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitsService/GetPageVisitsByWeek" message="tns:IVisitsService_GetPageVisitsByWeek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitsService/GetPageVisitsByWeekResponse" message="tns:IVisitsService_GetPageVisitsByWeek_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVisitsService" type="tns:IVisitsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveVisit">
      <soap:operation soapAction="http://tempuri.org/IVisitsService/SaveVisit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVisits">
      <soap:operation soapAction="http://tempuri.org/IVisitsService/GetAllVisits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageVisits">
      <soap:operation soapAction="http://tempuri.org/IVisitsService/GetPageVisits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageVisitsByDate">
      <soap:operation soapAction="http://tempuri.org/IVisitsService/GetPageVisitsByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageVisitsByWeek">
      <soap:operation soapAction="http://tempuri.org/IVisitsService/GetPageVisitsByWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VisitsService">
    <wsdl:port name="BasicHttpBinding_IVisitsService" binding="tns:BasicHttpBinding_IVisitsService">
      <soap:address location="http://localhost:37491/Services/Visitors/VisitsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>