AnalyticsApp/Service References/UsersReference/UsersService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37491/Services/Users/UsersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnalyticsLibrary.Models" />
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AnalyticsLibrary.Models" minOccurs="0" name="SaveResult" nillable="true" type="q1:ResponseOfUsers5pAuinzC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AnalyticsLibrary.Models" minOccurs="0" name="GetResult" nillable="true" type="q2:ResponseOfUsers5pAuinzC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AnalyticsLibrary.Models" minOccurs="0" name="RemoveResult" nillable="true" type="q3:ResponseOfUsers5pAuinzC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AnalyticsLibrary.Models" minOccurs="0" name="UpdateResult" nillable="true" type="q4:ResponseOfUsers5pAuinzC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>