AnalyticsApp/Service References/UsersReference/UsersService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AnalyticsLibrary.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnalyticsLibrary.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37491/Services/Users/UsersService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AnalyticsServer.Models" />
  <xs:complexType name="ResponseOfUsers5pAuinzC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/AnalyticsLibrary.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Users" Namespace="http://schemas.datacontract.org/2004/07/AnalyticsServer.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_Error_x003E_k__BackingField" nillable="true" type="tns:Error" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AnalyticsServer.Models" name="_x003C_Items_x003E_k__BackingField" nillable="true" type="q1:ArrayOfUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseOfUsers5pAuinzC" nillable="true" type="tns:ResponseOfUsers5pAuinzC" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
</xs:schema>