AnalyticsApp/Service References/UsersReference/UsersService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AnalysticsLibrary.Users" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnalysticsLibrary.Users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Registration">
    <xs:sequence>
      <xs:element name="_x003C_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Password_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Username_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Registration" nillable="true" type="tns:Registration" />
</xs:schema>