AnalyticsApp/Service References/Sites/SitesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AnalyticsServer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AnalyticsServer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37491/Services/Sites/SitesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ResponseOfUsers5pAuinzC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/AnalyticsServer.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Users" Namespace="http://schemas.datacontract.org/2004/07/AnalyticsServer.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="error" nillable="true" type="tns:Error">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfUsers">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseOfUsers5pAuinzC" nillable="true" type="tns:ResponseOfUsers5pAuinzC" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="ArrayOfUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers" nillable="true" type="tns:ArrayOfUsers" />
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="display_name" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="user_id" type="ser:guid">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="ResponseOfSites5pAuinzC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/AnalyticsServer.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Sites" Namespace="http://schemas.datacontract.org/2004/07/AnalyticsServer.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="error" nillable="true" type="tns:Error">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfSites">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseOfSites5pAuinzC" nillable="true" type="tns:ResponseOfSites5pAuinzC" />
  <xs:complexType name="ArrayOfSites">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sites" nillable="true" type="tns:Sites" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSites" nillable="true" type="tns:ArrayOfSites" />
  <xs:complexType name="Sites">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:Users" />
      <xs:element minOccurs="0" name="Visits" nillable="true" type="tns:ArrayOfVisits" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sites" nillable="true" type="tns:Sites" />
  <xs:complexType name="ArrayOfVisits">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Visits" nillable="true" type="tns:Visits" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisits" nillable="true" type="tns:ArrayOfVisits" />
  <xs:complexType name="Visits">
    <xs:sequence>
      <xs:element minOccurs="0" name="call_time" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="exit_time" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Visits" nillable="true" type="tns:Visits" />
</xs:schema>